name: Release App Image

on:
  push:
    # tags:
    #   - "v*"
    branches:
      # - main
      - improvement/workflow-trigger-and-versioning-f8

permissions:
  contents: write
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version from pom.xml
        id: version
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Determine release version
        id: release
        run: |
          RAW=${{ steps.version.outputs.version }}
          RELEASE="${RAW/-SNAPSHOT/}"
          echo "release=$RELEASE" >> $GITHUB_OUTPUT

      - name: Set pom.xml to release version
        run: |
          mvn versions:set \
            -DnewVersion=${{ steps.release.outputs.release }} \
            -DgenerateBackupPoms=false

      - name: Commit release version
        run: |
          git config user.email "github-actions@github.com"
          git config user.name "GitHub Actions"
          git commit -am "Release ${{ steps.release.outputs.release }}"
          git push origin

      - name: Tag the release
        run: |
          git tag "v${{ steps.release.outputs.release }}-test"
          git push origin --tags

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/doda25-team9/app:test-${{ steps.release.outputs.release }}

      - name: Bump to next development version
        run: |
          mvn -q build-helper:parse-version versions:set \
            -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.minorVersion}.\${parsedVersion.nextIncrementalVersion}-SNAPSHOT \
            -DgenerateBackupPoms=false

      - name: Commit next snapshot version
        run: |
          git commit -am "Start next development iteration"
          git push origin
